*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: grey;
}

html{
    font-size: 62.5%;
}

.header{
    padding: 1rem 1rem;
}

.navbar .navitems{
    float: right;
    padding: 2rem;
}

nav ul li{
    
    display: inline-block;
    text-transform: uppercase;
    /* margin: 0.2em 0.5em; */
    font-size: 1rem;
}

.navbar .navitems .navitem{
    color: whitesmoke;
    margin: 0px 0.5rem;
}

.navbar a:hover{
    border-bottom: 1px solid white;
}

p , li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;  
}

nav ul li a{
    text-decoration: none;
    padding-bottom: 0.8rem;
}


.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.body{
    color: white;
   padding: 10rem 10rem;
   text-align: center;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    text-decoration: none;
}

.btn-primary{
    border-radius: 10rem;
    background-color: white;
}

.bh{
    margin-bottom: 2rem;
}

.hh{
    color: whitesmoke;
    text-align: center;
}

.navbar a:link,.navbar a:visited{
    color: #f4f4f4;
}